
body {
    display: flex;
    flex-direction: column;
    font-family: Inconsolata, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.header {
    height: 50px;
    background-color: #fff;
    border: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 1px 2px 2px 1px black;

}

.logo {
    /*height: 100%;*/
    height: 70vh;
    width: 20vh;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 10px;
}

.nav li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.navtext {
    font-family: Rubik, sans-serif;
    color: #8a95f8;
    font-size: 16px;
    line-height: 200%;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 10px;
    /*border-bottom: 3px solid #000;*/
    background-color: #fff;
}

main > section:first-child > h2 { /*hellow i am*/
    font-family: "Robo";
    font-size: 2.5rem;
    position: relative;
    top: 11vh;
}

main > section:first-child > h1 { /*malsha*/
    font-family: "Fjalla One";
    font-weight: bold;
    font-size: 60px;
    margin: auto;
    position: relative;
    top: 10vh;
}

/*main>section:first-child>img{  !*main png*!*/
/*    position: relative;*/
/*    left: 50vw;*/
/*    bottom: 20vh;*/

/*}*/
main > section > article {
    font-family: teko;
    letter-spacing: 1px;
    font-size: 25px;
    position: relative;
    bottom: 35vh;
}


main > section:nth-child(1) > nav { /*soceal meadia*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 10rem;
    margin: -1rem 1rem 4rem 0;
    position: relative;
    bottom: 35vh;
    left: 1.5vw;


}

main > section > nav > img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}


main > section > nav > div {
    margin-right: 0.5rem;

}

/*---About me page---*/


main > section:nth-child(2) > aside > h2 { /*about me*/
    position: absolute;
    left: 20.5%;
    bottom: -25%;
    font-size: 350%;
    font-family: teko;


}

main > section:nth-child(2) > aside > img { /*about me img*/
    position: relative;
    left: 20vw;
    top: 25vh;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 15px;

}

main > section:nth-child(2) > div {
    position: relative;
    width: 12vw;
    height: 15vh;
    left: 25vw;
    top: -60vh;
    border-radius: 100%;
    background: white;
    z-index: -1;
    filter: blur(200px);

}


main > section:nth-child(2) > aside:nth-child(2) {
    position: relative;
    display: inline-block;
    left: 44%;
    top: -25vh;
}

main > section:nth-child(2) > aside:nth-child(2) > p:first-child {
    font-size: 250%;
    font-weight: bold;
    font-family: teko;

}

main > section:nth-child(2) > aside:nth-child(2) > p:last-child {
    font-family: "Agency FB";
    font-size: 150%;
}

/*---Skills---*/


main > section:nth-child(5) {

    height: 150vh;
}

main > section:nth-child(5) > h2:nth-child(1) { /*skills*/
    font-family: teko;
    position: relative;
    top: 220px;
    left: 50%;
    display: inline-block;
    font-size: 350%;
}

main > section:nth-child(5) > aside:nth-child(2) > h1 { /*Development skills*/
    position: relative;
    top: 280px;
    left: 260px;
    display: inline-block;
    font-family: teko;
    letter-spacing: 3px;
    font-size: 40px;

}

main > section:nth-child(5) > aside:nth-child(2) > h1:nth-child(1) {
    font-size: 16px;
    top: 295px;


}

main > section:nth-child(5) > aside:nth-child(3) { /*container*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30%;
    position: relative;
    height: 170px;


}

main > section:nth-child(5) > aside:nth-child(3) > div { /*item*/

    row-gap: 2px;
    column-gap: 2px;
    position: relative;
    left: 220px;
    top: 300px;
    height: 180px;

}

main > section:nth-child(5) > aside:nth-child(3) > div > img {
    position: relative;
    left: 25%;
    border-radius: 20px;
    border: solid 0.001cm;
    /*border-left-color: #131312;*/
    /*border-right-color: #ffb400;*/
    /*border-bottom-color: #ffb400;*/
    /*border-top-color: #131312;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

main > section:nth-child(5) > aside:nth-child(3) > div > h6 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 33px;
    font-family: Barlow;
    font-size: 19px;
}


/*-------projects-------*/

main > section:nth-child(6) {
    position: relative;
}


main > section:nth-child(6) > h2:nth-child(1) {
    font-size: 350%;
    font-family: teko;
    display: inline-block;
    position: relative;
    left: 45%;
}

main > section:nth-child(6) > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  1fr;
    width: 65%;
    position: relative;
    left: 19%;
    top: 10vh;

}

main > section:nth-child(6) > div:nth-child(2) > aside {
    height: 320px;
    position: relative;
    overflow: hidden;
}

main > section:nth-child(6) > div:nth-child(2) > aside > h6 {
    position: relative;
    left: 4%;
    bottom: 31%;
    color: white;
    font-family: sans-serif;

}

main > section:nth-child(6) > div:nth-child(2) > aside > h3 {
    position: relative;
    left: 4%;
    bottom: 35%;
    font-family: teko;
    font-size: 25px;
    letter-spacing: 1px;
}

.projects {
    box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.section_05 {
    position: relative;
    border: solid 2px ;
    width: 100vw;
    height: 100vh;

    display: flex;
}

.section_05 > div:nth-child(2) {
   /*border: solid 1px black;*/
   height: 80vh;
    width: 60%;
    /*background-color: #8a95f8;*/


    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);

    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    grid-gap: 20px;
}
.section_05 > div:nth-child(2) >div{
    /*border: solid 1px;*/
    background-color: #e73c3c;
    border-radius: 20px;
}
.section_05 > div:nth-child(2) >div>img{
    margin-bottom: 10%;
}
.section_05 > div:nth-child(1) {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

main > .section_05 > div:nth-child(2) {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
}

main > .section_05 > div:nth-child(3) {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

main > .section_05 > div:nth-child(4) {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}
