


/*------------------------hedder--------------------------*/

html{
    scroll-behavior: smooth;
}


body{
    height:  100vh;
    width: 99vw;
    background-color:white;   /*  bodey clor to black*/

    overflow-x: hidden;

}




/*body>section:nth-child(1){*/
/*    height:  100vh;*/
/*    width: 98vw;*/
/*    background:gray;*/
/*    border-radius: 20px;*/
/*    margin-top: 5px;*/
/*    margin-left: 5px;*/
/*    overflow: hidden;*/
/*}*/

/*body>section:nth-child(2){*/ /*ori*/
/*    position: absolute;*/
/*    width: 20vw;*/
/*    height: 50vh;*/
/*    left: 70vw;*/
/*    top: -4px;*/
/*    border-radius: 100%;*/
/*    background: #1746EC;*/
/*    filter: blur(300px);*/
/*}*/


body>section:nth-child(2) {
    width: 85%;
    height: 80%;
    top: 0%;
    right: 3%;
    position: absolute;
    background:white;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    transition: 1.5s;
}




header{
    height: 10%;
    width: 98vw;
    position: fixed;
    top: 0;
    z-index: 100;
}


header:hover{
    background: white;
}

/*header>nav>aside>img{   */
/*    position: relative;*/
/*    top: 25px;*/
/*    left: 30px;*/

/*}*/

header>nav{

    width: 90%;
    position: relative;
    display: inline-block;
}

header>nav>li{             /*menu*/
    display: inline-block;
    position: relative;
    left: 55%;
    bottom: 15px;
    margin: 20px;
    transition: all 0.1s ease-in;
}

a{
    /*font-family: Arial,Helvetica,sans-serif;*/
    font-size: 100%;
    color: black;
    text-decoration: none;

}
/*------------------------Main Home Page--------------------------*/

/*//////////////////////////////////////////////*/
main > section:nth-child(1) {
    width: 96vw;
    padding: 20px;
    overflow: hidden;
}

main > section:first-child > section:first-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    background:pink;
    border-radius: 20px;
    margin-left: 5px;
}

/*order*/
main > section:first-child > section:first-child > div:first-child {
    display: flex;
    gap: 66px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h2:first-child {
    color: black;
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) {
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 60px;
    color: black;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* icons*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(3) > nav {
    margin-top: 4rem;
    display: flex;
    gap: 10px;
}


/*img*/
main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
    background: url(../gallery/pp.jpg);
    width: 447px;
    height: 450px;
    background-size: cover;
    position: relative;
    bottom: 18px;
}

/*/////////////////////////////////////////////////////////*/

/*main{*/
/*    overflow-x: hidden;*/
/*}*/

/*main>section:first-child{*/
/*    position: absolute;*/
/*    top: 22vh;*/
/*    left: 6vw;*/
/*}*/


/*main>section:first-child>h2{        !*hellow i am*!*/
/*   color: black;*/
/*    font-size: 2.8rem;*/
/*    position: relative;*/
/*    top: 11vh;*/
/*}*/

/*main>section:first-child>h1{          !*malsha*!*/

/*    font-weight: bold;*/
/*    font-size: 60px;*/
/*    margin:auto;*/
/*    position: relative;*/
/*    top: 10vh;*/



/*}*/
/*main>section:first-child>div:nth-child(3){  !*main png*!*/
/*    position: relative;*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    left: 50vw;*/
/*    border-radius: 100%;*/
/*    bottom: 20vh;*/
/*    background: url("../img/photo_2023-03-16_08-39-53.jpg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    display: inline-block;*/
/*    !*width: 26vw;*!*/
/*    !*height: 53vh;*!*/
/*}*/



/*main>section>article{*/

/*    letter-spacing: 1px;*/
/*    font-size: 25px;*/
/*    position: relative;*/
/*    bottom: 35vh;*/
/*}*/


/*main>section:nth-child(1)>nav{           !*soceal meadia*!*/
/*    display: inline-flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 9rem;*/
/*    height: 10rem;*/
/*    margin: -1rem 1rem 4rem 0;*/
/*    position: relative;*/
/*    bottom: 35vh;*/
/*    left: 1.5vw;*/


/*}*/

/*main>section>nav>img{*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0*/
/*    rgba(255, 255, 255, 0.2);*/
/*}*/


/*main>section>nav>div{*/
/*    margin-right: 0.5rem;*/

/*}*/



/*------------------------About me page--------------------------*/

main > section:nth-child(2) {
    position: relative;
    top: 0;
    width: 100%;
    /*background: rgba(236, 240, 243, 0.4);*/
    background: white;
}

/**
* title in about section
*/
main > section:nth-child(2) > section:first-child {
    position: relative;
    text-align: center;
    padding-top: 68px;
}


main > section:nth-child(2) > section:first-child > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}


/**
* first butterfly  in about section
*/
main > section:nth-child(2) > div:nth-child(2) {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 100px;
    top: 50px;
}


/**
* about description in about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) {
    width: 667px;
    color: black;
    display: flex;
    flex-direction: column;
}

/**
* description title in about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > h2:first-child {

    font-size: 25px;
    color: black;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 24px;


}

/**
* introducing description in about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > p:nth-child(2), p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #9494A1 !important;
    margin-top: 0;
}

/**
* butterfly png in about section
*/
#aboutLineCircle {
    position: absolute;
    width: 114px;
    height: 157px;
    fill: none;
    right: 0;
    bottom: 25px;
}


main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) {
    position: relative;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

/**
* my details column 1 titles customized about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column1 > p {
    font-size: 17px;
    color: var(--text-black-900) !important;
}


main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column1 > p > span {
    color: var(--text-black-700) !important;
}

/**
* my details column 2 titles customized about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column2 > p {
    font-size: 17px;
    color: var(--text-black-900) !important;
}


/* introduced my details column 2 position about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column2 {
    position: absolute;
    right: 0;
}
.serviceMain{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.servTwoSide{
    display: flex;
    width: 370px;
   flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    border-radius: 10px;

}
/**
* my details column 2 span customized about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column2 > p > span {
    color: var(--text-black-700) !important;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(5) {
    position: relative;
    top: 16px;
    margin-bottom: 65px;
}

/**
* description section button position about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(5) > button:first-child {
    width: 209px;
    height: 46px;
    background-color: #464444;
    box-shadow: 28px 28px 50px rgba(13, 39, 80, 0.36);
    border-radius: 25px;
    text-align: left;
    padding-left: 25px;
    color: #FFFFFF;
    cursor: pointer;
    border-width: 0;
}


main > section:nth-child(2) > section:nth-child(3) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child {
    width: 1100px;
    display: flex;
    gap: 92px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 67px;
    margin-right: 67px;
    transition: all 2s;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > div:first-child > p:nth-child(6) {
    display: none;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > div:first-child > p:nth-child(7) {
    display: none;
}


/*---------------------------educaton-------------------------------------*/


main>section:nth-child(3){
    position: relative;
    width: 99vw;
    height: 80vh;
}


main>section:nth-child(3)>h2{
    font-size: 200%;
    color: red;
    position: absolute;
    top: 0;
    left: 45vw;

}

main>section:nth-child(3)>aside:nth-child(2) {

    display: flex;
    justify-content: center;
    gap: 40vw;
    right: 15%;
    top: 32%;
    position: relative;
}


main>section:nth-child(3)>div{

    display: flex;
    justify-content: center;
    gap: 15vw;
    position: relative;

}

main>section:nth-child(3)>div>aside {
    width: 30vw;
    font-size: 20px;
    color: black;
    position: relative;
    left: 7%;
    bottom: 150px;
    letter-spacing: 2px;



}

#education_img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 250px;
}
/*--------------gallery---------------------*/

main>section:nth-child(4){
    position: relative;
}

main>section:nth-child(4)>h2{
    font-size: 200%;
    color: red;
    position: absolute;
    top: 0;
    left: 45vw;
}

main>section:nth-child(4)>div:nth-child(2){
    position: relative;
    display: flex;
    justify-content: center;
    top: 30vh;
    height: 60vh;

}

main>section:nth-child(4)>div>aside{
    margin-right: 15px;
    box-shadow: 10px 10px 10px 1px indianred;
    border-radius: 20px;
}

#imgPos{
    position: relative;
    border-radius: 20px;
    bottom: 20vh;
}


main>section:nth-child(4)>div:nth-child(3){
    position: relative;
    display: flex;
    justify-content: center;
    top: 32vh;
    height: 60vh;


}

main>section:nth-child(4)>div:nth-child(3)>aside{
    margin-right: 15px;
    box-shadow: 10px 10px 10px 1px palevioletred;
    /*box-shadow: 0px 0px 50px 30px indianred;*/

}

main>section:nth-child(4)>div:nth-child(2)>aside:nth-child(1){
    background: url("../gallery/dog1.jpg");
    background-position: center ;
    background-size:cover ;
}

main>section:nth-child(4)>div:nth-child(2)>aside:nth-child(2){
    background: url("../gallery/cam1.jpg");
    background-position: center ;
    background-size:cover ;
}

main>section:nth-child(4)>div:nth-child(2)>aside:nth-child(3){
    background: url("../gallery/cae1.jpg ");
    background-position: center ;
    background-size:cover ;
}

main>section:nth-child(4)>div:nth-child(3)>aside:nth-child(1){
    background: url("../gallery/rose1.jpg");
    background-position: center ;
    background-size:cover ;
}

main>section:nth-child(4)>div:nth-child(3)>aside:nth-child(2){
    background: url("../gallery/sky1.jpg");
    background-position: center ;
    background-size:cover ;
}

main>section:nth-child(4)>div:nth-child(3)>aside:nth-child(3){
    background: url("../gallery/drink1.jpg");
    background-position: center ;
    background-size:cover ;
}




/*---------------------------Skills-------------------------------------*/


main > section:nth-child(4) {
    position: relative;
    top: 0;
    width: 100%;
    background: #ECF0F3;;
}

/**
* title in skills section
*/
main > section:nth-child(4) > section:first-child {
    position: relative;
    text-align: center;
    padding-top: 68px;
}



#lan-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}

#languages {
    color: red;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
}

#lanIcon {
    padding-right: 9px;
}

#icon-section {
    align-items: center;
    justify-content: center;
    width: 79%;
    margin-left: 11%;
    margin-right: 11%;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: 50s linear infinite;
    animation-name: slider-animation;
    animation-direction: normal;
    display: flex;
    animation-delay: .5s;
    width: calc(100px * 14);
}

.slider .slide {
    height: 100px;
    width: 100px;
}

@keyframes slider-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/*-------------------------projects--------------------------*/

main>section:nth-child(6){
    position: relative;
}


main>section:nth-child(6)>h2:nth-child(1){
    font-size: 200%;
    color: red;/**/
    display: inline-block;
    position: relative;
    left: 45%;
}

main>section:nth-child(6)>div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr  1fr;
    width: 65%;
    position: relative;
    left: 19%;
    top: 10vh;

}

main>section:nth-child(6)>div:nth-child(2)>aside{
    height: 320px;
    position: relative;
    overflow: hidden;
}

main>section:nth-child(6)>div:nth-child(2)>aside>h6 {
    position: relative;
    left: 4%;
    bottom: 31%;
    color: red;


}

main>section:nth-child(6)>div:nth-child(2)>aside>h3 {
    position: relative;
    left: 4%;
    bottom: 35%;
    font-size: 25px;
    color: black;/**/
    letter-spacing: 1px;
}

.projects{
    /*box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.3);*/
    box-shadow: 0px 0px 50px 30px indianred;
    border-radius: 15px;
}

/*---------------------------services-------------------------------------*/

main>section:nth-child(7){
    position: relative;
    height: 120vh;

}

main>section:nth-child(7)>h2:nth-child(2){
    position: relative;
    display: flex;
    justify-content: center;
    top: 10%;
    font-size: 200%;
    color: red;/**/

}

main>section:nth-child(7)>h1:nth-child(3){
    position: relative;
    left: 18%;
    top: 18%;
    display: inline-block;

    letter-spacing: 2px;
}

main>section:nth-child(7)>div:nth-child(4){
    display: flex;
    gap: 20px;
    position: relative;
    justify-content: center;
    top: 22%;
}

main>section:nth-child(7)>div:nth-child(4)>aside{
    border-radius: 15px ;
    border: 1px solid black;
    height: 56vh;
    width: 20vw;
    position: relative;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
    min-width: 280px;
}

main>section:nth-child(7)>div:nth-child(4)>aside>img{
    position: relative;
    display: inline-block;
    left: 40%;
    top: 15%;
}

main>section:nth-child(7)>div:nth-child(4)>aside>h4{
    position: relative;
    display: flex;
    color: black;
    justify-content: center;
    top: 18%;
    letter-spacing: 1px;
    font-size: 25px;
    /*color: black;!**!*/
    /*color: #ffb400;*/

}

main>section:nth-child(7)>div:nth-child(4)>aside>p{
    position: relative;
    display: flex;
    justify-content: center;
    top: 25%;

    font-size: 18px;
    color: black;/**/
    margin: 20px;


}

main>section:nth-child(7)>div:nth-child(1){
    position: relative;
    width: 150px;
    height: 150px;
    left: 10vw;
    top: 63vh;
    border-radius: 100%;
    /*background: #ffb400;*/
    background: red;
    z-index: -1;
    filter: blur(200px);
}


/*---------------------------Assigment-------------------------------------*/



main>section:nth-child(8){
    height: 110vh;
}

main>section:nth-child(8)>div:nth-child(2){
    display: flex;
    justify-content: center;
    gap: 0px;
    position: relative;
    top: 40vh;
    width: 65vw;
    margin: auto;
    overflow: hidden;
    overflow-x:scroll;
    scroll-padding: 24px;
    justify-content: start;

}

main>section:nth-child(8)>div:nth-child(2)>aside{
    border-radius: 15px ;
    border: 1px solid white;
    height: 56vh;
    width: 31%;
    position: relative;
    box-shadow: 0px 0px 50px 30px indianred;
    /*box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0px 0px 10px 10px black;*/
    flex-shrink: 0;
    margin: 12px;
    min-width: 257px;
    background-color:darkgray;


}

main>section:nth-child(8)>h2:nth-child(1){
    position: relative;
    display: flex;
    top: 20vh;
    justify-content: center;
    font-size:200%;
    color: red;


}

main>section:nth-child(8)>div:nth-child(2)>aside>img{
    position: relative;
    top: 15%;
    left: 40%;
}

main>section:nth-child(8)>div:nth-child(2)>aside>h3{
    position: relative;
    display: flex;
    justify-content: center;
    top: 19%;

    letter-spacing: 1px;
    font-size: 25px;
    color: black;/**/
}



main>section:nth-child(8)>div:nth-child(2)>aside>p{
    position: relative;
    display: flex;
    justify-content: center;
    top: 25%;

    font-size: 18px;
    color: black;/**/
    margin: 20px;
}

main>section:nth-child(8)>aside:nth-child(3){
    position: relative;
    width: 15vw;
    height: 25vh;
    left: 70vw;
    bottom: 450px;
    border-radius: 100%;
    background: indianred;
    filter: blur(200px);
}



/*---------------------------contact me-------------------------------------*/

.contact_section{
    position: relative;
    bottom: 50px;
}

.form{
    width: 500px;
    height: 300px;
    border: 3px solid black;
    position: absolute;
    left: 10%;
    top: 30%;
    margin-bottom: 50px;
    background-color: #9494A1;
}
#adress_details{
    position: absolute;
    right: 0;
}
#adress_details{

}
/*#ContactMe{*/
/*    position: relative;*/
/*    top: 35vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    font-size: 200%;*/
/*    color: red;!**!*/


/*}*/


/*footer>section:nth-child(1)>aside:nth-child(2){*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*footer>section:nth-child(1)>aside:nth-child(2)>div>aside{*/
/*    position: relative;*/
/*    left: 15vw;*/
/*    top: 40vh;*/
/*    display: inline-block;*/


/*}*/

/*footer>section:nth-child(1)>aside:nth-child(2)>div>img{*/
/*    position: relative;*/
/*    left: 14vw;*/
/*    top: 40vh;*/
/*}*/



/*footer>section:nth-child(2)>form{*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: 1fr 1fr;*/
/*    display: grid;*/
/*    width: 41vw;*/
/*    gap: 10px;*/
/*    position: relative;*/
/*    left: 41vw;*/
/*    bottom: 1vh;*/



/*}*/

/*footer>section:nth-child(2)>form>textarea {*/
/*    position: relative;*/
/*    width: 202%;*/
/*}*/

/*footer>section:nth-child(2)>form>input{*/
/*    height: 6vh;*/
/*    border-radius: 10px;  !*key bord input radius*!*/
/*    border: solid white 1px;*/
/*    background-color: transparent;*/

/*}*/



/*#btnSubmit{*/
/*    position: relative;*/
/*    bottom: -0.1vh;*/
/*    left: 41.1vw;*/
/*    width: 150px;*/
/*    height: 40px;*/
/*    background: transparent;*/
/*    border-radius: 15px;*/
/*    border: solid white 1px;*/


/*}*/
/*#btnCv{*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    left: 41.5vw;*/
/*    border-radius: 15px;*/
/*    border: solid white 1px;*/
/*    display: inline-block;*/
/*    width: 150px;*/
/*    height: 40px;*/
/*    background: transparent;*/
/*}*/





/*li::marker{     !*remove indexing in menu*!*/
/*    content: "";*/
/*}*/


*{
    color: black; /* all texts been white */

}

h2{       /*  heades colors to yellow*/
    color: red;
}



textarea{
    background-color: transparent; /* input text area dtyles */
    border-radius: 10px;
    border-color: white;


}

